{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">

    <!--Link externo CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 bg-side">
                    <div class='header'>
                        <img src="{% static 'usuarios/img/logo.png' %}" width="9%"><span class="font-logo rounded-circle">MoneyMore</span>
                    </div>

                    <div class="body-form">
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <div class="alert {{message.tags}}">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h2>Login</h2>
                        <p>Bom ter você aqui de novo.</p>
                        <hr>
                        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                            <span>Nome:</span>
                            <input type="text" class="form-control" placeholder="Digite seu nome..." name="nome">
                            <br>
                           
                            <span>Senha:</span>
                            <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha">
                                

                            <input type="submit" value="SALVAR" class="btn-custom-primary">
                        
                            <a href="{% url 'cadastro' %}" class="link-float">Cadastre-se</a>
                        </form>
                        
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="side-logo">
                        <img class="logo-margin-top" src="{% static 'usuarios/img/logo.png' %}" width="20%">
                        <h1>MoneyMore</h1>
                        <a href="{% url 'pagina_inicial' %}" class="link-float">Voltar</a>
                    </div>
                </div>

            </div>



        </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>